---
import BaseLayout from "@layouts/BaseLayout.astro";
import PostInfo from "@components/blog/PostInfo.astro";
import { getCollection } from "astro:content";
import Pagination from "@components/Pagination.astro";

export async function getStaticPaths({ paginate }) {
  const posts = await getCollection("blog");
  return paginate(posts, { pageSize: 1 });
}

const { page } = Astro.props;
//console.log(page);
---

<BaseLayout title="Blog">
  <section class="text-gray-600 overflow-hidden h-full">
    <div class="container px-5 mx-auto">
      <div class="divide-y-2 divide-gray-300">
        {page.data.map((post) => <PostInfo post={post} wordCount={50} />)}
      </div>
      <Pagination prevUrl={page.url.prev} nextUrl={page.url.next} />
    </div>
  </section>
</BaseLayout>
