---
import BaseLayout from "@layouts/BaseLayout.astro";
import PostInfo from "@components/blog/PostInfo.astro";
import { getCollection, CollectionEntry } from "astro:content";
import Pagination from "@components/Pagination.astro";
import type { Page } from "astro";

// eslint-disable-next-line @typescript-eslint/no-explicit-any
export async function getStaticPaths({ paginate }: any) {
  const posts = await getCollection("blog");
  return paginate(posts, { pageSize: 4 });
}

interface Props {
  page: Page<CollectionEntry<"blog">>;
}

const { page } = Astro.props;
//console.log(page);
---

<BaseLayout title="Blog" description="All the blog posts on my site.">
  <section class="h-full overflow-hidden">
    <div class="container mx-auto px-5">
      <div class="divide-y-2 divide-gray-500">
        {page.data.map((post) => <PostInfo post={post} wordCount={60} />)}
      </div>
      <Pagination prevUrl={page.url.prev} nextUrl={page.url.next} />
    </div>
  </section>
</BaseLayout>
