---
import BaseLayout from "@layouts/BaseLayout.astro";
import PostInfo from "@components/blog/PostInfo.astro";
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
import Pagination from "@components/Pagination.astro";

export async function getStaticPaths({ paginate }) {
  const posts: CollectionEntry<"blog">[] = await getCollection("blog");
  posts.sort((a, b) => b.data.pubDate.getTime() - a.data.pubDate.getTime());
  return paginate(posts, { pageSize: 4 });
}
const { page } = Astro.props;
---

<BaseLayout title="Blog" description="All the blog posts on my site.">
  <section class="min-h-screen text-gray-600">
    <div class="container mx-auto px-5 h-screen">
      <div class="divide-y-2 divide-gray-500">
        {page.data.map((post) => <PostInfo post={post} wordCount={35} />)}
      </div>
      <Pagination prevUrl={page.url.prev} nextUrl={page.url.next}/>
    </div>
  </section>
</BaseLayout>
