---
import BaseLayout  from "@layouts/BaseLayout.astro";
import PostInfo from "@components/blog/PostInfo.astro";
import { getCollection } from "astro:content";
const posts = await getCollection("blog");
---

<BaseLayout title="Blog">
<section class="text-gray-600 body-font overflow-hidden">
  <div class="container px-5  mx-auto">
    <div class="divide-y-2 divide-gray-300">
        {
            posts.map((post) => (
                <PostInfo post={post} wordCount={50}/>

            ))
        }
    </div>
    </BaseLayout>
