@layer theme, base, components, utilities;
@import "tailwindcss";
@import "@fontsource/ibm-plex-sans";
@import "@fontsource/ibm-plex-serif";
@import "@fontsource/iosevka";

.grid-areas-mobile {
  grid-template-areas: "header header header"
    "main main main"
    "footer footer footer";
}

.lg\:grid-areas-desktop {
  grid-template-areas: "sidebar header header"
    "sidebar main main"
    "sidebar footer footer";
}


@theme {
  --grid-cols-layout: "0.7fr 2.3fr 1fr";
  --grid-rows-layout: "0.2fr 2.6fr 0.2fr";

  --font-sans: "IBM Plex Sans", sans-serif;
  --font-serif: "IBM Plex Serif", serif;
  --font-mono: "Iosevka", monospace;
  --color-branding-black: "#091725";
  --color-branding-white: "#f3f7fc";
  --color-branding-navy-50: #e2edf8;
  --color-branding-navy-100: #c6dbf1;
  --color-branding-navy-200: #8cb8e3;
  --color-branding-navy-300: #5394d5;
  --color-branding-navy-400: #2c70b4;
  --color-branding-navy-500: #1e4c7b;
  --color-branding-navy-600: #183d62;
  --color-branding-navy-700: #122e4a;
  --color-branding-navy-800: #0c1f31;
  --color-branding-navy-900: #060f19;
  --color-branding-navy-950: #03080c;
  --color-branding-purple-50: #f8f0fe;
  --color-branding-purple-100: #eeddfd;
  --color-branding-purple-200: #dcbbfc;
  --color-branding-purple-300: #cb99fa;
  --color-branding-purple-400: #ba77f9;
  --color-branding-purple-500: #a855f7;
  --color-branding-purple-600: #8815f4;
  --color-branding-purple-700: #6609be;
  --color-branding-purple-800: #44067f;
  --color-branding-purple-900: #22033f;
  --color-branding-purple-950: #120222;
  --color-branding-gray-50: #fafafa;
  --color-branding-gray-100: #f7f7f8;
  --color-branding-gray-200: #ecedee;
  --color-branding-gray-300: #e4e5e7;
  --color-branding-gray-400: #d9dade;
  --color-branding-gray-500: #d1d3d7;
  --color-branding-gray-600: #a2a6ae;
  --color-branding-gray-700: #777d88;
  --color-branding-gray-800: #4e525a;
  --color-branding-gray-900: #282a2e;
  --color-branding-gray-950: #131416;
  --color-branding-blue-50: #e9f1fb;
  --color-branding-blue-100: #cfe1f7;
  --color-branding-blue-200: #9fc3ef;
  --color-branding-blue-300: #73a8e8;
  --color-branding-blue-400: #4389e0;
  --color-branding-blue-500: #216dca;
  --color-branding-blue-600: #1b58a2;
  --color-branding-blue-700: #14427b;
  --color-branding-blue-800: #0d2b4f;
  --color-branding-blue-900: #061527;
  --color-branding-blue-950: #040c16;
  --color-branding-green-50: #e5f6e5;
  --color-branding-green-100: #caecca;
  --color-branding-green-200: #96da96;
  --color-branding-green-300: #61c761;
  --color-branding-green-400: #3ba63b;
  --color-branding-green-500: #287128;
  --color-branding-green-600: #205a20;
  --color-branding-green-700: #184418;
  --color-branding-green-800: #102d10;
  --color-branding-green-900: #081708;
  --color-branding-green-950: #040b04;
  --color-branding-yellow-50: #fff9eb;
  --color-branding-yellow-100: #fef2d2;
  --color-branding-yellow-200: #fde4a5;
  --color-branding-yellow-300: #fdd87d;
  --color-branding-yellow-400: #fccb50;
  --color-branding-yellow-500: #fbbd23;
  --color-branding-yellow-600: #e1a304;
  --color-branding-yellow-700: #aa7b03;
  --color-branding-yellow-800: #6e5002;
  --color-branding-yellow-900: #372801;
  --color-branding-yellow-950: #1e1601;
  --color-branding-brown-50: #f4f0eb;
  --color-branding-brown-100: #e9e1d8;
  --color-branding-brown-200: #d3c2b1;
  --color-branding-brown-300: #bfa78d;
  --color-branding-brown-400: #a98865;
  --color-branding-brown-500: #86694b;
  --color-branding-brown-600: #6c553c;
  --color-branding-brown-700: #52402e;
  --color-branding-brown-800: #34291d;
  --color-branding-brown-900: #1a150f;
  --color-branding-brown-950: #0d0a07;
}


