<!DOCTYPE html>
<html lang="{{.Site.LanguageCode}}" x-data="{darkMode: false}"
    x-init="darkMode = JSON.parse(localStorage.getItem('darkMode')); $watch('darkMode', value => JSON.stringify(localStorage.setItem('darkMode', value)))"
    :class="{'dark': darkMode === true}">
{{- partial "head.html" . -}}

<body>
    <div
        class="grid h-screen grid-areas-mobile grid-rows-layout lg:grid-areas-desktop grid-cols-layout">
        {{ partial "header.html" . }}
        {{ partial "sidebar/fixed.html" . }}
        <main class="px-3 pt-3 grid-in-main !max-w-none overflow-y-scroll scrollbar-thin prose prose-sm lg:prose-base prose-slate prose-a:text-royal-600 dark:prose-a:text-royal-400 dark:prose-invert scroll-smooth motion-reduce:scroll-auto prose-headings:font-serif">
            {{ block "main" . }}
            {{ end }}
        </main>
        {{ partial "footer.html" .}}
    </div>
     {{ partial "sidebar/overlay.html" . }}
</body>

</html>
