---
import BaseLayout from "~/layouts/BaseLayout.astro";
import { SITE_META } from "~/consts";
import HeroSection from "~/components/index/HeroSection.astro";
//import { type BlogPost, type Project } from "~/content";
import FeaturedProjectSection from "~/components/index/FeaturedProjectSection.astro";
---

<BaseLayout title="Home" description={SITE_META.description}>
  <h1>hi</h1>
</BaseLayout>
