---
import BaseLayout from "@layouts/BaseLayout.astro";
import "@fontsource/ibm-plex-serif/700.css";
import "@fontsource/ibm-plex-sans/700.css";
import { SITE_META } from "@consts";
import Hero from "@assets/Hero.jpeg";
import { Image } from "astro:assets";
import Button from "@components/Button.astro";
---

<BaseLayout title="Home" description={SITE_META.description}>
  <section
    class="min-h-screen grid place-items-center [&>*]:col-start-1 [&>*]:row-start-1 bg-cover bg-center">
    <div
      class="z-0 flex flex-col lg:flex-row-reverse items-center justify-center">
      <Image
        src={Hero}
        format="webp"
        class="aspect-square object-cover rounded-sm"
        width="300"
        height="500"
        alt="Myself leaning on a tree."
      />
      <div class="ml-4 lg:ml-0 text-center lg:text-justify">
        <h1
          class="text-5xl font-bold font-serif uppercase text-branding-black dark:text-branding-white">
          Hi, I'm
          <span class="text-branding-navy-600 dark:text-branding-navy-400"
            >Jacob</span
          >
        </h1>
        <h2
          class="text-3xl font-bold my-4 lg:my-6 text-branding-text/90 dark:text-branding-white/90">
          Freelance Web Developer
        </h2>
        <p
          class="-mt-4 lg:mt-0 py-3 lg:py-6 max-w-[80ch] text-branding-text/75 mx-auto lg:mr-8 dark:text-branding-white/75">
          I create accessible, performant, and easy-to-use websites using free
          and open-source technologies such as TailwindCSS, Hugo, and Astro.
          {
            SITE_META.availableForHire
              ? "I'm currently available for hire, so feel free to reach out using the button below."
              : ""
          }
        </p>
        <div class="space-x-3">
          <Button
            type="button"
            size="medium"
            theme="primary"
            class="rounded-sm">
            Hello World
          </Button>
        </div>
      </div>
    </div>
  </section>
  <!-- <section class="min-h-screen" x-ref="about"> -->
  <!-- <div class="prose ml-4 prose-neutral dark:prose-invert"> -->
  <!-- <h2>Who Am I?</h2> -->
  <!-- </div> -->
  <!-- </section> -->
</BaseLayout>
