---
import BaseLayout from "@layouts/BaseLayout.astro";
import "@fontsource/ibm-plex-serif/700.css";
import "@fontsource/ibm-plex-sans/700.css";
import { SITE_META } from "@consts";
import Hero from "@assets/Hero.jpeg";
import { Image } from "astro:assets";
---

<BaseLayout title="Home">
  <section class="min-h-screen daisy-hero">
    <div
      class="daisy-hero-content flex-col lg:flex-row-reverse mb-auto mt-8 mx-auto lg:mx-0">
      <Image
        src={Hero}
        format="webp"
        class="aspect-square object-cover rounded-sm"
        width="300"
        height="500"
        alt="Myself leaning on a tree."
      />
      <div class="text-center lg:text-justify">
        <h1 class="text-5xl font-bold font-serif uppercase text-branding-black">
          Hi, I'm
          <span class="text-branding-navy-600">Jacob</span>
        </h1>
        <h2 class="text-3xl font-bold my-4 lg:my-6 text-branding-text/90">
          Freelance Web Developer
        </h2>
        <p
          class="-mt-4 lg:mt-0 py-3 lg:py-6 max-w-[80ch] text-branding-text/75 mx-auto lg:mr-8">
          I create accessible, performant, and easy-to-use websites using free
          and open-source technologies such as TailwindCSS, Hugo, and Astro.
          {
            SITE_META.availableForHire
              ? "I'm currently available for hire, so feel free to reach out using the button below."
              : ""
          }
        </p>
        <div class="space-x-3">
          <button
            class="daisy-btn bg-branding-navy hover:bg-branding-navy-800 ease-out text-white p-2 transition duration-200 font-bold h-12 uppercase"
            >Contact Me</button
          >
        </div>
      </div>
    </div>
  </section>
</BaseLayout>
