---
import BaseLayout from "@layouts/BaseLayout.astro";
import "@fontsource/ibm-plex-serif/700.css";
import "@fontsource/ibm-plex-sans/700.css";
import { SITE_META } from "@consts";
import Hero from "@assets/Hero.jpeg";
import { Image } from "astro:assets";
import Button from "@components/Button.astro";
//import { Icon } from "astro-icon";
---

<BaseLayout title="Home" description={SITE_META.description}>
  <section class="min-h-screen" x-ref="about">About Me</section>
</BaseLayout>
