---
import BaseLayout from "@layouts/BaseLayout.astro";
import CvEntry from "@components/CvEntry.astro";
---

<BaseLayout title="Resumé" description="My Personal Resume">
  <div
    class="w-full grid grid-cols-4 prose first:prose-h2:mt-0 max-w-none prose-neutral dark:prose-invert h-full">
    <article class="col-span-3 p-3 text-justify">
      <h2>Experience</h2>
      <div class="border-l-2 border-gray-500 pl-5">
        <CvEntry
          title="Freelance Web Developer"
          startDate="2021-03-06"
          location="Somewhere"
          employer="Someone">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate
          nesciunt tenetur adipisci expedita. Tenetur, nisi fuga? Nisi minus
          dicta assumenda provident voluptas inventore, error vero voluptatibus
          dolore cupiditate a temporibus.
        </CvEntry>
      </div>
    </article>
    <aside class="col-span-1 bg-blue-100">
      <h2 class="text-center">Skills</h2>
    </aside>
  </div>
</BaseLayout>
