---
import BaseLayout from "@layouts/BaseLayout.astro";
import "@fontsource/ibm-plex-serif/700.css";
---

<BaseLayout title="Search results" description="Search results">
  <section class="p-2">
    <h1 class="font-serif text-4xl font-bold">Search Results</h1>
  </section>
</BaseLayout>
