---
/** eslint-disable jsx-a11y/heading-has-content */
import BaseLayout from "@layouts/BaseLayout.astro";
import "@fontsource/ibm-plex-serif/700.css";
---

<BaseLayout title="Search results" description="Search results">
  <section class="p-2">
    <!-- // eslint-disable-next-line jsx-a11y/heading-has-content -->
    <p class="font-serif text-4xl font-bold" id="searchReadout"></p>
    <article id="searchResults"></article>
  </section>
  <script>
    // imports
    import DOMPurify from "dompurify";

    // selectors
    const search = document.querySelector("#search");
    const searchReadout = document.querySelector("#searchReadout");

    // functions
    function updateDocumentTitle(search) {
      document.title = search
        ? `Search results for “${search}” | Jacob Hilker: Frontend Developer`
        : "Search the Blog | Jacob Hilker: Frontend Developer";
    }

    function updateSearchReadout(search) {
      searchReadout.textContent = search
        ? `Search Results for “${search}”`
        : "Search the blog";
    }

    // event listeners
    window.addEventListener("DOMContentLoaded", () => {
      const urlParams = DOMPurify.sanitize(
        new URLSearchParams(window.location.search).get("q"),
      );
      updateDocumentTitle(urlParams);
      updateSearchReadout(urlParams);
      search.value = urlParams;
      search.focus();
    });

    search.addEventListener("input", () => {
      const searchTerm = DOMPurify.sanitize(search.value);
      updateDocumentTitle(searchTerm);
      updateSearchReadout(searchTerm);
    });
  </script>
</BaseLayout>
