---
/*
things to add:
 - theme: primary/secondary/disabled 
 - type: "button" | "submit" | "link"
 */
import type { HTMLAttributes } from "astro/types";
interface Props extends HTMLAttributes<"button"> {
  theme?: "primary" | "secondary" | "tertiary";
  size?: "small" | "medium" | "large";
  textCase?: "upper" | "lower";
}

const {
  type = "button",
  theme = "primary",
  size = "medium",
  ...rest
} = Astro.props;
---

<button
  {type}
  class:list={[
    "cursor-pointer",
    "transition",
    "duration-200",
    "motion-reduce:duration-0",
    "font-bold",
    "disabled:cursor-not-allowed",
    "focus:ring-offset-4",
    "focus:ring",
    "ease-out",
    "text-white",
    "uppercase",
    "inline-flex",
    "place-items-center",
    "text-center",
    "focus:outline-none",
    "focus:ring-offset-branding-white",
    "dark:focus:ring-offset-branding-black",
    {
      "bg-branding-navy hover:bg-branding-navy-800 dark:hover:bg-branding-navy-400 dark:focus:hover:ring-branding-navy-400 focus:hover:ring-branding-navy-800 disabled:text-branding-navy-200 focus:ring-branding-navy dark":
        theme === "primary",
    },
    {
      "bg-branding-brown hover:bg-branding-brown-600 disabled:text-branding-brown-50/95 focus:ring-branding-brown focus:hover:ring-branding-brown-600":
        theme === "secondary",
    },
    {
      "bg-neutral-700": theme === "tertiary",
    },
    { "text-sm py-1 px-2 rounded-sm": size === "small" },
    { "text-base py-2 px-4 rounded": size === "medium" },
    { "text-lg py-3 px-6 rounded-lg": size === "large" },
  ]}
  {...rest}>
  <slot />
</button>
