---
interface Props {
  title: string;
  startDate: string;
  endDate?: string;
  employer: string;
  location: string;
  isSingle?: boolean;
}

const {
  title,
  startDate,
  endDate = "Present",
  employer,
  location,
  isSingle = false,
} = Astro.props;
---

<details class="group [&>div]:transition-[all_500ms_ease-in-out]">
  <summary class="list-none">
    <div
      class="flex items-center after:content-['▸'] after:transform group-open:after:rotate-90 after:transition-all">
      <h3
        class="inline m-0 font-serif text-xl font-bold text-branding-black dark:text-branding-white">
        {title}
      </h3>
    </div>
  </summary>
  <div
    class="group-open:animate-slideIn grid grid-rows-0 transition-gridRows duration-500 ease-in-out">
    <div
      class="overflow-hidden prose-neutral prose-blue dark:prose-invert max-w-[80ch]">
      <slot />
    </div>
  </div>
</details>
