---
import MobileMenu from "./MobileMenu.astro";
import { NAV_LINKS } from "@consts";
import { isNavLinkActive } from "@lib/utils";
import { Icon } from "astro-icon";
const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1); // remove the first "/"
---

<header
  class="z-10 items-center grid-in-header bg-secondary"
  x-data="{mobileOpen: false}">
  <div class="flex h-[52px] 2xl:h-[62px]">
    <button
      class="h-full p-3 hover:bg-blue-300 lg:hidden"
      x-on:click="mobileOpen = !mobileOpen">
      <Icon name="fa:bars" class="h-3 w-3" />
    </button>
    <nav class="hidden lg:flex items-center space-x-4">
      {
        NAV_LINKS.map((link) => {
          //console.log(Astro.url.origin);
          let url = link.href.split("/")[1];
          // console.log(link);
          if (!link.children) {
            return (
              <a
                href={link.href}
                class:list={[
                  "bg-transparent",
                  "text-branding-text",
                  "h-full",
                  "p-3",
                  "duration-150",
                  "border-0",
                  "font-sans",
                  "hover:backdrop-brightness-75",
                  "transition-all",
                  `${
                    isNavLinkActive(url, currentPath.split("/")[0])
                      ? "border-b-2 border-branding-navy"
                      : ""
                  }`,
                ]}>
                {link.name}
              </a>
            );
          }
        })
      }
    </nav>

    <div class="flex items-center h-full my-auto space-x-4 ml-auto">
      <button
        class="h-full p-3 hover:bg-gray-400"
        @click="darkMode = !darkMode">
        <Icon name="heroicons:sun-solid" class="h-5 w-5 fill-black" />
      </button>
    </div>
    <!-- TODO: Add Mobile Menu -->
  </div>
  <!-- Mobile Menu -->
  <MobileMenu />
</header>
