---
import { NAV_LINKS } from "@consts";
---

<nav
  x-show="open"
  :class="{'hidden': mobileOpen == false}"
  class="hidden lg:hidden text-right text-sm shadow-sm"
  x-transition:enter="transition-transform transition-opacity ease-out duration-200"
  x-transition:enter-start="opacity-0 transform -translate-y-2"
  x-transition:enter-end="opacity-100 transform translate-y-0"
  x-transition:leave="transition linear duration-200"
  x-transition:leave-end="opacity-0 transform -translate-y-2">
  {
    NAV_LINKS.map((link) => (
      <a href={link.href} class:list={["block", "px-4", "py-2", "text-sm"]}>
        {link.name}
      </a>
    ))
  }
</nav>
