---
// component imports
import Backward20Solid from "~icons/heroicons/backward-20-solid";
import Forward20Solid from "~icons/heroicons/forward-20-solid";
const { prevUrl, nextUrl } = Astro.props;
---

<nav
  aria-label="Blog Posts"
  class="container mx-auto justify-between flex h-10 md:mb-4 items-center">
  {
    prevUrl && (
      <a
        href={prevUrl}
        class="align-baseline p-2 bg-branding-navy text-white uppercase rounded justify-start mr-auto ml-0">
        <Backward20Solid class="inline w-5 h-5 mb-1" />
        Previous
      </a>
    )
  }

  {
    nextUrl && (
      <a
        href={nextUrl}
        class="align-baseline p-2 bg-branding-navy text-white uppercase rounded justify-end ml-auto mr-0">
        Next
        <Forward20Solid class="inline w-5 h-5 mb-1" />
      </a>
    )
  }
</nav>
