---

---

<form x-ref="search-form" class="mt-3">
  <label for="search">
    <span class="sr-only">Search the blog</span>
    <input
      type="search"
      name="search"
      id="search"
      class="text-branding-black/80 form-input rounded focus:outline-none focus:ring focus:ring-branding-white/80 focus:ring-offset-4 focus:ring-offset-branding-navy-700 placeholder:text-branding-black/70"
      required
      placeholder="Search blog posts... 🔎"
    />
  </label>
</form>

<script>
  import DOMPurify from "dompurify";
  const form = document.querySelector("form");
  form?.addEventListener("submit", (e) => {
    e.preventDefault();
    const formData = new FormData(form);
    const searchTerm = DOMPurify.sanitize(formData.get("search")?.toString());
    if (!searchTerm || searchTerm.length === 0) return;
    const url = new URL("/search", window.location.origin);
    url.searchParams.set("q", searchTerm);
    window.location.assign(url.toString());
  });
</script>
