---

---

<form action="" class="form" x-ref="search-form">
  <input
    type="search"
    name="search"
    id="search"
    class="form-input rounded text-branding-black/60"
    min="2"
    max="24"
    required
  />
</form>
