---
import type { GetStaticPaths } from "astro";
import BaseLayout from "@layouts/BaseLayout.astro";
import Pagination from "@components/Pagination.astro";
import ProjectCard from "@components/ProjectCard.astro";
import { type Project } from "@content/config.ts";
import { getCollection } from "astro:content";

export const getStaticPaths = (async ({ paginate }) => {
  const projects = await getCollection("projects", ({ data }) => {
    return import.meta.env.PROD ? data.draft !== true : true;
  });
  return paginate(projects, { pageSize: 4 });
}) satisfies GetStaticPaths;

const { page } = Astro.props;
---

<BaseLayout title="Portfolio" description="All my projects.">
  <section
    class="min-h-full grid grid-rows-[1fr_auto] container mx-auto px-5 overflow-hidden">
    <div class="divide-y-2 divide-gray-500">
      {page.data.map((project: Project) => <ProjectCard project={project} />)}
    </div>
    <Pagination prevUrl={page.url.prev} nextUrl={page.url.next} />
  </section>
</BaseLayout>
