---
interface Props {
  title: string;
  pubDate: Date;
  lastModDate?: Date;
}

import { formatPostDate } from "@lib/utils";
import { Icon } from "astro-icon";
const { title, pubDate, lastModDate = pubDate } = Astro.props;
---

<header class="align-baseline">
  <h1>{title}</h1>
  <Icon name="mdi:calendar" class="w-5 mb-1 inline-block" />
  <span class="font-bold mr-1">Posted:</span>
  <time class="inline">
    {formatPostDate(pubDate)}
  </time>
  {
    lastModDate.getTime() > pubDate.getTime() ? (
      <div class="inline ml-8">
        <Icon name="mdi:calendar" class="w-5 mb-1 inline-block" />
        <span class="font-bold">Last Updated:</span>
        <time class="inline">{formatPostDate(lastModDate)}</time>
      </div>
    ) : (
      ""
    )
  }
</header>
