---
import { type Project } from "~/content.config";
import { FEATURED_PROJECT_COUNT } from "~/consts";
import { getCollection } from "astro:content";
import {
  Card,
  CardAction,
  CardContent,
  CardDescription,
  CardFooter,
  CardHeader,
  CardTitle,
} from "@/components/ui/card";
const projects: Project[] = (
  await getCollection("projects", ({ data }) => {
    return import.meta.env.PROD == true
      ? data.featured == true && data.draft !== true
      : data.featured == true && true;
  })
).slice(0, FEATURED_PROJECT_COUNT);
---

<div class="container px-5 py-24 mx-auto">
  <div class="flex flex-wrap w-full mb-20">
    <div class="lg:w-1/2 w-full mb-6 lg:mb-0">
      <h1
        class="sm:text-3xl text-2xl font-medium title-font mb-2 text-branding-gray-900 dark:text-branding-white uppercase">
        Featured Projects
      </h1>
      <div class="h-1 w-20 bg-branding-blue rounded"></div>
    </div>
    <p
      class="lg:w-1/2 w-full leading-relaxed text-neutral-700 dark:text-neutral-300">
      These projects are the ones I am most proud of.
    </p>
  </div>
  <div
    class:list={[
      "-m-4",
      "grid",
      "grid-cols-1",
      "md:grid-cols-2",
      "md:grid-rows-3",
      "lg:grid-cols-3",
      "lg:grid-rows-2",
    ]}>
    {
      projects.map((project: Project) => (
        <div class="p-4 col-span-1">
          <Card>
            <CardHeader>
              <CardDescription>
                {project.data.tools.join(" • ")}
              </CardDescription>
              <CardTitle>{project.data.title}</CardTitle>
              <CardDescription>{project.data.category}</CardDescription>
            </CardHeader>
            <CardContent>
              <div class="prose prose-neutral dark:prose-invert max-w-[80ch] prose-branding-blue">
                {project.data.description}
              </div>
            </CardContent>
          </Card>
        </div>
      ))
    }
  </div>
</div>
