---
/* eslint astro/prefer-class-list-directive: "error" */
import "@/styles/global.css";
import SiteSEO from "~/components/SiteSEO.astro";
import Page from "~/components/site/page";
interface Props {
  title: string;
  description: string;
}
const { title, description } = Astro.props;
---

<html
  lang="en"
  x-data="{darkMode: false, sidebarOpen: false}"
  x-init="darkMode = JSON.parse(localStorage.getItem('darkMode')); $watch('darkMode', value => JSON.stringify(localStorage.setItem('darkMode', value)))"
  x-bind:data-theme="darkMode == true ? 'dark' : 'light'">
  <head>
    <SiteSEO title={title} description={description} />
  </head>

  <body>
    <Page client:load>
      <slot />
    </Page>
  </body>
</html>
