---
/* eslint astro/prefer-class-list-directive: "error" */

import FixedSidebar from "@components/FixedSidebar.astro";
import MobileSidebar from "@components/MobileSidebar.astro";
import Header from "@components/Header.astro";
import SiteSEO from "@components/SiteSEO.astro";
import "@fontsource/ibm-plex-sans";
import "@fontsource/ibm-plex-serif";
import "@fontsource/iosevka";

interface Props {
  title: string;
  description: string;
}
const { title, description } = Astro.props;
---

<html
  lang="en"
  x-data="{darkMode: false}"
  x-init="darkMode = JSON.parse(localStorage.getItem('darkMode')); $watch('darkMode', value => JSON.stringify(localStorage.setItem('darkMode', value)))"
  :data-theme="darkMode === true ? 'dark' : 'light'">
  <head>
    <SiteSEO title={title} description={description} />
    <script is:inline>
      if (
        localStorage.theme === "dark" ||
        (!("theme" in localStorage) &&
          window.matchMedia("(prefers-color-scheme: dark)").matches)
      ) {
        document.documentElement.dataset.theme = "dark";
      } else {
        document.documentElement.dataset.theme = "light";
      }

      // Whenever the user explicitly chooses light mode
      localStorage.theme = "light";

      // Whenever the user explicitly chooses dark mode
      localStorage.theme = "dark";

      // Whenever the user explicitly chooses to respect the OS preference
      localStorage.removeItem("theme");
    </script>
  </head>
  <body
    class="min-h-screen bg-branding-white dark:bg-branding-black"
    x-data="{'sidebarOpen': false}">
    <div
      class="h-screen grid grid-cols-layout grid-rows-layout grid-areas-mobile lg:grid-areas-desktop"
      data-role="site-container">
      <Header />
      <FixedSidebar />
      <main
        class="grid-in-main overflow-y-scroll scrollbar-thin scroll-smooth motion-reduce:scroll-auto">
        <slot />
      </main>
    </div>
    <!-- <MobileSidebar /> -->
  </body>
</html>
