---
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout title="Resumé" description="My Personal Resume">
  <div
    class="w-full grid grid-cols-4 prose prose-h2:mt-0 max-w-none prose-neutral dark:prose-invert h-full prose-headings:font-serif">
    <article class="col-span-3 p-3 text-justify prose-h2:mb-0">
      <slot />
    </article>
    <aside
      class="hidden lg:block lg:col-span-1 bg-branding-navy-50 dark:bg-branding-navy-900">
      <h2 class="text-center">Skills</h2>
    </aside>
  </div>
</BaseLayout>
