---
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout title="Resumé" description="My Personal Resume">
  <div
    class="w-full grid grid-cols-5 prose prose-h2:mt-0 max-w-none prose-neutral dark:prose-invert h-full">
    <article class="col-span-4 p-3 text-justify prose-h2:mb-0">
      <slot />
    </article>
    <aside class="hidden lg:block lg:col-span-1">
      <h2>Skills</h2>
    </aside>
  </div>
</BaseLayout>
