<div class="my-2.5 py-2.5 last:border-0 border-b-2 border-gray-300 dark:border-gray-700">
    <details class="cventry">
        <summary class="list-none">
            <span class="text-xl text-gray-900 dark:text-gray-100 font-serif my-5">
        {{.Get "title"}}
            </span>
            <span class="hidden lg:inline lg:float-right">
                {{dateFormat "Jan 2006" (.Get "start")}} - {{if .Get "end"}}{{ dateFormat "Jan 2006" (.Get
                "end")}}{{else}}Present{{end}}
            </span>
        </summary>

            <span class="lg:hidden">
                {{dateFormat "Jan 2006" (.Get "start")}} - {{if .Get "end"}}{{ dateFormat "Jan 2006" (.Get
                "end")}}{{else}}Present{{end}}
            </span>
            <span class="block mt-2">
                {{ with .Get "employer" }}{{ . }} {{ end }} -
                {{ with .Get "location" }} {{ . }} {{ end }}
            </span>
    <div class="mt-3">
        {{ .Inner | markdownify }}
    </div>

    </details>
</div>
